body{
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 1em;
}

main{
    border: thin solid #ffffff;
    clear:both;
    padding-top: 3%;
    padding-bottom: 3%;
}

h1{
    font-family: 'Brush Script MT', 'Mystery Quest', Arial, cursive;
    color: #ffffff;
    text-decoration-line: underline;
    margin-top: auto;
    font-size: 4em;
    margin-bottom: auto;
    text-align: center;
    text-shadow: 2px 1px #000000;
}

p, #computer, #player, #round{
    font-family: 'Brush Script MT', 'Mystery Quest', Arial, cursive;
    color: #ffffff;
    margin-top: auto;
    text-align: center;
    font-size: 2em;
    margin-bottom: auto;
    text-shadow: 2px 1px #000000;
}

#computer, #player{
    clear:both;
    background-color: #333333;
    border: thin solid #ffffff;
    margin-left: 4.3%;
    padding: 10px;
    height: 43px;
    width: 90%;
}

#field{
    float: left;
    height: 580px;
    width: 65%;
    border-radius: 10%;
    box-shadow: 0 3px 10px #000000;
    border-radius: 11px;
    margin: 2%;
    margin-left: 4.3%;
}

#round{
    position: relative;
    background-color: #333333;
    border: thin solid #ffffff;
    margin-top: 13.5%;
    margin-left: 79%;
    padding: 10px;
    height: 43px;
    width: 10%;
}

.platzhalterEasy, .platzhalterMiddle, .platzhalterDifficult{
    float: left;
    border-radius: 10%;
    box-shadow: 0 3px 10px #000000;
    image-orientation: from-image;
    background-color: #BFBFC2;
}

.platzhalterEasy{
    height: 28%;
    width: 20%;
    margin-left: 9.8%;
    margin-top: 3%;
}

.platzhalterMiddle{
    height: 21%;
    width: 15%;
    margin-left: 7.8%;
    margin-top: 2.3%;
}

.platzhalterDifficult{
    height: 18.1%;
    width: 13%;
    margin-left: 5.7%;
    margin-top: 1.1%;
}

.cardPlayer, .cardComputer {
    border-radius: 10%;
    height: 100%;
    width: 100%;
    background-size: 100%;
}

.cardPlayer{
    background-image: url("playerCard.jpg");
}

.cardComputer {
    background-image: url("computerCard.jpg");
}
